#secao{
    border: 2px solid blue;
    padding: 20px 204px;
    
}

#secao2{
    border: 2px solid cornflowerblue;
    padding: 20px 204px;
    margin-top: 20px;
}
#secao3{
    border: 2px solid cornflowerblue;
    padding: 20px 204px;
    margin-top: 20px;
}