/* body {
    background-color: rgb(255, 255, 255);
}

#container {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 15%;
    grid-template-columns: repeat(9, 1fr);
    gap: 50px;
    
}



.itens {
    padding: 10px;
    background: radial-gradient(rgb(245, 245, 245), rgb(196, 195, 195));
    color: rgb(0, 0, 0);
    font-weight: 900;
    transition: all 0.8s;
    border-radius: 10px;
    height: 200px;
    width: 150px;
    text-align: center;
    opacity: 0.4;
    box-shadow: black 5px 5px 5px;
    cursor: pointer;

    
}

#item-1:hover {
    transform: scale(1.01);
    transition-duration: 2s;
    width: 16%;
    height: 200px;
    opacity: 0.6;
    background-image: url("https://picsum.photos/id/633/600/400");
}

#item-2:hover {
    transform: scale(1.01);
    transition-duration: 2s;
    width: 16%;
    height: 200px;
    opacity: 0.6;
    background-image: url("https://picsum.photos/id/1067/600/400");
}

#item-3:hover {
    transform: scale(1.01);
    transition-duration: 2s;
    width: 16%;
    height: 200px;
    opacity: 0.6;
    background-image: url("https://picsum.photos/id/684/600/400?grayscale");
}

 */


 #container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "header header header header"
    "main main . sidebar" "footer footer footer footer";
    column-gap: 20px;
    row-gap: 50px;
    /* justify-items: center;
    align-items: center; */
}

.itens {
    border: solid 1px black;
    width: 100%;
    height: 250%;
    transition: all 0.8s;
}

#item-1 {
    grid-area: header;
    background-color: rgb(243, 194, 104);
}

#item-2 {
    grid-area: main;
    background-color: rgb(112, 112, 255);
}

#item-3 {
    grid-area: sidebar;
    background-color: rgb(60, 255, 60);
}


#item-4 {
    grid-area: footer;
    background-color: rgb(184, 1, 184);
}
.itens:hover {
    transform: scale3d(1.07);
    background-color: red;
} 

