body {
    background-color: #eefaa8;
    font-family: 'Rajdhani', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
header {
    background-color: #649ea7;
    text-align: center;
    border: 1px solid #000000;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000000;
}
th {
    background-color: #8fbfb9;
    font-weight: bold;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}