body {
            
    background: radial-gradient(rgb(185, 185, 185), rgb(207, 207, 207));
    padding: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
button {
    height: 40px;
    width: 215px;
    border-radius: 7px;
    background: rgb(115, 160, 160);
    font-family: Arial, Helvetica, sans-serif;
    border: solid 0px;
    transition: all 0.3s;
}

button:hover {
    background-color: rgb(101, 136, 133);
    width: 210px;
    cursor: pointer;
    transform: scale(1.10);
}

div > a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover{
    color: rgb(160, 97, 20);
}

footer {
    color: white;
}

img {
    width: 160px;
    height: 160px;
    transition: all 0.3s;
}

img:hover {
    transform: scale(1.10);
}

div > img {
    translate: 200px;
    scale: .8s;
}

button > img {
    padding-right: 155px;
    text-align: center;
    align-items: center;
    height: 25px;
    width: 25px
    
}

a > button {
    font-size: 12px;
    text-align: center;
    align-items: center;
    

}

tr {
    background-color: lightblue;
}