body {
    background-color: #c1c2bc;
    background-image: url(./main.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

header {
    padding: 50px 0px 0px 0px;
    margin-top: 0;
    border-top: 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5em;
}

main {
    background-repeat: no-repeat;
    background-position: center;
}

#img1 {
    float: left;
    padding-right: 1em;
    padding-bottom: 1em;
    width: 30%;
}

#img1:hover {
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 1);
    padding: 1;
}

.div1 {
    background-color: #314a20;
    background-position: center;
    padding: 4em;
    padding-bottom: 3em;
    width: 50%;
    margin-left: 9em;
    margin-bottom: 4em;
    border-radius: 20px;
}


#paragrafo1 {
    font-weight: 600;
    padding-left: 2em;
}

button {
    background-color: #c1c2bc;
    padding: 0.2em;
    color: #000000;
    font-weight: bold;
    border-radius: 30px;
    }

button:hover {
    background-color: #314a20;
}

#resumo {
    background-color: #314a20;
    margin: 0;
    padding: 0;
}



.div2 {
    margin-top: 100px;
    border: 1px solid #533618;
    border-radius: 10px;
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
    background-color: #c1c2bc;
    max-width: 100%;
}

iframe {
    float: left;
}


#noticias {
    margin-top: 4em;
    display: grid;
    border: 1px solid #533618;
    border-radius: 10px;
    padding: 20px;
    background-color: #c1c2bc;
}
  
.curiosidades {
    display: flex;
    margin: 2em;
    padding: 2em;
    background-color: #725436;
    text-align: center;
}
  
img:hover {
    padding: 0;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
}

.img-noticias {
    padding: 0 2em 2em 0;
    width: 15em;
}

#noticias p::first-letter{
    font-size: 170%;
    color: #533618;
}


footer {
    background-color: #c1c2bc;
    height: 30px;
    text-align: center;
}

footer:hover {
    background-color: #314a20;
}