#container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 15px;
    row-gap: 15px;
    /* justify-content: stretch; */
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
    
}

.itens{
    border: solid 2px black;
    text-align: center;
    
}

#item-1{
    grid-area: header;
}

#item-2{
    grid-area: main;
}

#item-3{
    grid-area: sidebar;
}

#item-4{
    grid-area: footer;
}